---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="LYC Consultores - Página no encontrada"
  description="Página no encontrada."
>
  <section id="not-found">
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="fw-bold">404</h2>
        <h4 class="text-secondary text-uppercase fw-semibold">
          Página no encontrada
        </h4>
      </div>
    </div>
  </section>
</Layout>

<style>
  #not-found {
    height: 100%;
    display: flex;
    align-items: center;
  }
</style>
