---
import FacebookIcon from "../components/FacebookIcon.astro";
import LinkedInIcon from "../components/LinkedInIcon.astro";
---

<footer class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Ubicación</h4>
        <p class="mb-0">Pocuro 2255, Providencia</p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Redes Sociales</h4>
        <a
          class="btn btn-primary text-dark btn-social mx-2"
          href="#!"
          aria-label="Facebook"
        >
          <FacebookIcon style="height: 50%;" />
        </a>
        <a
          class="btn btn-primary text-dark btn-social mx-2"
          href="#!"
          aria-label="LinkedIn"
        >
          <LinkedInIcon style="height: 50%;" />
        </a>
      </div>

      <div class="col-lg-4">
        <img
          class="border border-4"
          src="/img/logo.webp"
          alt="LYC Consultores"
          height="70"
        />
      </div>
    </div>
  </div>
</footer>

<div class="text-center bg-secondary text-white py-3">
  <div class="container">
    <small>Copyright &copy; www.lycconsultores.cl</small>
  </div>
</div>

<style>
  .btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }
</style>
