---
import FacebookIcon from "../components/FacebookIcon.astro";
import LinkedInIcon from "../components/LinkedInIcon.astro";
---

<footer class="flex-shrink-0 py-4">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        Copyright &copy; www.lycconsultores.cl
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a
          class="btn btn-primary text-dark btn-social mx-2"
          href="#!"
          aria-label="Facebook"
        >
          <FacebookIcon style="height: 50%;" />
        </a>
        <a
          class="btn btn-primary text-dark btn-social mx-2"
          href="#!"
          aria-label="LinkedIn"
        >
          <LinkedInIcon style="height: 50%;" />
        </a>
      </div>
      <div class="col-lg-4 text-lg-end"></div>
    </div>
  </div>
</footer>

<style>
  .btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }
</style>
