---
interface Props {
  id?: string;
  title: string;
  variant?: "light" | "primary";
}

const { id, title, variant } = Astro.props;
---

<section {id} class:list={[{ "bg-primary": variant === "primary" }]}>
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-uppercase fw-semibold">{title}</h2>
    </div>
    <slot />
  </div>
</section>

<style>
  section {
    padding: 3rem;
  }

  @media (min-width: 768px) {
    section {
      padding: 7rem;
    }
  }
</style>
